<div class="main mat-typography">
    <div class="hero">
        <h1 class="mat-display-3">Andy Le</h1>
        <h2 class="mat-h2">SYSTEMS ANALYST & DEVELOPER</h2>
        <!-- <h5 class="mat-display">SYSTEMS ANALYST & DEVELOPER</h5> -->
    </div>
</div>
<p class="about"> <strong>Determined, dedicated, and always learning!</strong> I'm Andy. From robots to websites, I love building,
     inventing and designing things. A genuine curiosity for how things work combined 
     with a passion for technology = me! Collaborative when the time calls, independent when needed, flexible 
     and easily adaptable is who I am. 
</p>

<!-- icons -->

<!-- php -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- mongo -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- angular -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- java -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- c# -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- dotnet -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- github -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- js -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- linux -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- mysql -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<!-- tomcat -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<mat-grid-list [cols]="(isHandset$ | async) ? 5 : 8" 
    [ngStyle]="(isHandset$ | async) ? {'font-size':'8vw'} : {'font-size':'4vw'}" 
    gutterSize="10px" class="icons">
    
    <mat-grid-tile><i class="devicon-angularjs-plain icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-java-plain-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-tomcat-line-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><img id="icon" src="../../assets/media/aws.png" alt=""></mat-grid-tile>
    <mat-grid-tile><i class="devicon-csharp-plain icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-php-plain icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-mongodb-plain-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-bootstrap-plain-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-dot-net-plain-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-github-plain-wordmark icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-javascript-plain icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-linux-plain icon"></i></mat-grid-tile>
    <mat-grid-tile><i class="devicon-mysql-plain-wordmark icon"></i></mat-grid-tile>
</mat-grid-list>